* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

/* Preloader Styles */
/* CSS for the loader */
.loader-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.9);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
}

.loader {
    border: 5px solid #3498db;
    border-top: 5px solid #f1570f;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}


nav {
    display: flex;
    height: 80px;
    width: 100%;
    background: #1b1b1b;
    align-items: center;
    justify-content: space-between;
    padding: 0 50px 0 100px;
    flex-wrap: wrap;
}

nav .logo {
    color: #fff;
    font-size: 35px;
    font-weight: 600;
}

nav ul {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
}

nav ul li {
    margin: 0 5px;
}

nav ul li a {
    color: #f2f2f2;
    text-decoration: none;
    font-size: 18px;
    font-weight: 500;
    padding: 8px 15px;
    border-radius: 5px;
    letter-spacing: 1px;
    transition: all 0.3s ease;
}

nav ul li a.active,
nav ul li a:hover {
    color: #111;
    background: #fff;
}

nav .menu-btn i {
    color: #fff;
    font-size: 22px;
    cursor: pointer;
    display: none;
}

input[type="checkbox"] {
    display: none;
}

@media (max-width: 1000px) {
    nav {
        padding: 0 40px 0 50px;
    }
}

@media (max-width: 920px) {
    nav .menu-btn i {
        display: block;
    }

    #click:checked~.menu-btn i:before {
        content: "\f00d";
    }

    nav ul {
        position: fixed;
        top: 80px;
        left: -100%;
        background: #000;
        height: 100vh;
        width: 100%;
        text-align: center;
        display: block;
        transition: all 0.3s ease;
    }

    #click:checked~ul {
        left: 0;
    }

    nav ul li {
        width: 100%;
        margin: 40px 0;
    }

    nav ul li a {
        width: 100%;
        margin-left: -100%;
        display: block;
        font-size: 20px;
        transition: 0.6s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    }

    #click:checked~ul li a {
        margin-left: 0px;
    }

    nav ul li a.active,
    nav ul li a:hover {
        background: none;
        color: rgb(26, 255, 0);
    }
}

/* Hero Section */
.hero-container {
    height: 600px;
    padding: 20px;
    margin-left: 40px;
    margin-right: 40px;
    display: flex;
    background-image: url(./images/bg.svg);
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
    gap: 40px;
}

.hero-container img {
    width: 100%;
    height: 500px;
}

.hero-text {
    width: 80%;
}

.hero-text h3 {
    font-size: 2.3rem;
    margin-bottom: 12px;
    color: #000000;
}

.hero-text p {
    font-size: 1.4rem;
    margin-bottom: 12px;
}

.openButton {
    padding: 1em 2.1em 1.1em;
    border-radius: 4px;
    margin: 8px;
    border: none;
    background-color: #000;
    color: #fff;
    font-weight: 800;
    font-size: 0.85em;
    text-transform: uppercase;
    text-align: center;
    border: 2px solid #000;
}

.openButton:hover {
    background-color: #fff;
    color: #000;
    cursor: pointer;
}

@media (max-width: 884px) {
    .hero-container {
        margin-top: 10px;
        flex-direction: column;
        margin-bottom: 15em;
    }

    .hero-text {
        width: 100%;
        text-align: center;
    }

    .hero-text h1 {
        font-size: 3rem;
    }
}

@media (max-width: 678px) {
    .hero-text h1 {
        font-size: 2rem;
        margin-bottom: 10%;
    }
}


/* Popup Button */
.formPopup {
    position: absolute;
    display: none;
    top: 10%;
    width: 20rem;
    transform: scale(1.1);
    border: 5px solid lawngreen;
    border-radius: 1rem;
    background-color: #000;
    color: #fff;
    padding: 1rem;
    transition: all .4s linear;
}

.formContainer {
    max-width: 300px;
    padding: 20px;
}

.formContainer {
    display: flex;
    padding: 12px 20px;
    color: #000;
    cursor: pointer;
    width: 100%;
    margin-bottom: 15px;
    opacity: 0.8;
    border-radius: 20px;
    justify-content: space-between;
    gap: 1em;
}

.btn {
    color: red;
    font-size: 20px;
    display: flex;
    background: none;
    border: none;
    cursor: pointer;
    opacity: 1;
}

.formContainer .cancel {
    border-radius: 50%;
    width: fit-content;
}

#close {
    width: 100%;
    font-size: 1.2rem;
    margin-top: 1rem;
    padding: .6rem;
    border-radius: 2rem;
    border: none;
    text-transform: uppercase;
    font-weight: bold;
    cursor: pointer;
    color: rgb(77, 0, 0);
    background-color: rgb(245, 73, 73);
}

#close:hover {
    color: rgb(245, 73, 73);
    background-color: rgb(234, 183, 183);
}

#image {
    position: relative;
    height: 50px;
    width: 50px;
    background-color: rgb(236, 225, 66);
    border-radius: 50%;
}

/* CSS for the Carousel */
:root {
    --marquee-width: 80vw;
    --marquee-height: 20vh;
    --marquee-elements-displayed: 5;
    --marquee-element-width: calc(var(--marquee-width) / var(--marquee-elements-displayed));
    --marquee-animation-duration: calc(var(--marquee-elements) * 3s);
  }
.marquee {
    overflow: hidden;
    width: 100vw;
    height: 29vh;
    margin: 0 auto;
    background: #000;
    color: #fff;
  position: relative;
}

.marquee:before, .marquee:after {
    position: absolute;
    top: 0;
    width: 10rem;
    height: 100%;
    content: "";
    z-index: 1;
  }

  .marquee:before {
    left: 0;
    background: linear-gradient(to right, #111 0%, transparent 100%);
  }
  .marquee:after {
    right: 0;
    background: linear-gradient(to left, #111 0%, transparent 100%);
  }


/* CSS for the Marquee Content */
.marquee-content {
    list-style: none;
  height: 100%;
  display: flex;
    animation: marquee-scroll 10s linear infinite; /* Adjust the duration as needed */ 
}


@keyframes marquee-scroll {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-100%);
    }
}

.marquee-content li {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    width: var(--marquee-element-width);
    max-height: 100%;
    font-size: calc(var(--marquee-height)*3/4); /* 5rem; */
    white-space: nowrap;
  }
  
  .marquee-content li img {
    width: 100%;
    border: 2px solid #eee;
  }
  
  @media (max-width: 600px) {
    html { font-size: 12px; }
    :root {
      --marquee-width: 100vw;
      --marquee-height: 16vh;
      --marquee-elements-displayed: 3;
    }
    .marquee:before, .marquee:after { width: 5rem; }
  }



/* About Us */
#about {
    width: 100%;
    padding: 3rem;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
}

.about-left {
    height: 300px;
    position: relative;
}

.about-left img {
    height: 100%;
    border-radius: 10px;
}

.about-right {
    width: 50%;
}

.about-heading {
    font-size: 2rem;
    margin-bottom: 10px;
}

.about-para {
    margin-bottom: 20px;
}

.btn {
    text-decoration: none;
    color: black;
    font-weight: bold;
    position: relative;
    width: 0;
}

/* Workflow */
#workFlow {
    width: 100%;
    display: flex;
    padding: 30px;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    text-align: center;
    margin-bottom: 4rem;
    background: #000;
    color: #fff;
}

.workflow-img {
    height: 100px;
    border-radius: 10px;
}

.heading {
    margin: 1rem auto;
    text-align: center;
}

.para {
    margin: 1rem auto;
}

.num-container {
    width: 70%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.num-item {
    font-size: 1.5rem;
    line-height: 1.4rem;
    color: #fff;
}

/* Add media query for mobile screens */
@media screen and (max-width: 768px) {
    #workFlow {
        padding: 20px; /* Reduce padding for mobile */
    }

    .num-container {
        flex-direction: column; /* Stack items vertically for mobile */
        text-align: center;
    }

    .num-item {
        margin: 1rem 0; /* Add margin between items */
    }
}


/* Team Member */
.wrapper {
    width: 100%;
    position: relative;
}

.wrapper i {
    top: 50%;
    height: 50px;
    width: 50px;
    cursor: pointer;
    font-size: 1.25rem;
    position: absolute;
    text-align: center;
    line-height: 50px;
    background: #fff;
    border-radius: 50%;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.23);
    transform: translateY(-50%);
    transition: transform 0.1s linear;
}

.wrapper i:active {
    transform: translateY(-50%) scale(0.85);
}

.wrapper i:first-child {
    left: -22px;
}

.wrapper i:last-child {
    right: -22px;
}

.tm-header {
    text-align: center;
}

.carousel {
    border-left: 50px solid rgb(255, 255, 255);
    border-right: 50px solid rgb(255, 255, 255);
}

.wrapper .carousel {
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: calc((100% / 3) - 12px);
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    gap: 16px;
    border-radius: 8px;
    scroll-behavior: smooth;
    scrollbar-width: none;
}

.carousel::-webkit-scrollbar {
    display: none;
}

.carousel.no-transition {
    scroll-behavior: auto;
}

.carousel.dragging {
    scroll-snap-type: none;
    scroll-behavior: auto;
}

.carousel.dragging .card {
    cursor: grab;
    user-select: none;
}

.carousel :where(.card, .img) {
    display: flex;
    justify-content: center;
    align-items: center;
}

.carousel .card {
    scroll-snap-align: start;
    height: 342px;
    list-style: none;
    background: #fff;
    cursor: pointer;
    padding-bottom: 15px;
    flex-direction: column;
    border-radius: 8px;
}

.carousel .card .img {
    background: #000000;
    height: 148px;
    width: 148px;
    border-radius: 50%;
    filter: drop-shadow(30px 10px 4px #777778);
}

.card .img img {
    width: 140px;
    height: 140px;
    border-radius: 50%;
    object-fit: cover;
    border: 4px solid #fff;
}

.carousel .card h2 {
    font-weight: 500;
    font-size: 1.56rem;
    margin: 30px 0 5px;
}

.carousel .card span {
    color: #6A6D78;
    font-size: 1.31rem;
}

@media screen and (max-width: 900px) {
    .wrapper .carousel {
        grid-auto-columns: calc((100% / 2) - 9px);
        padding-top: 1em;
    }
}

@media screen and (max-width: 600px) {
    .wrapper .carousel {
        grid-auto-columns: 100%;
        padding-top: 1em;
    }
}

/* Contact */
.contact-form {
    position: relative;
    min-height: 100vh;
    z-index: 0;
    background: #000;
    padding: 10px;
    justify-content: center;
    display: grid;
    grid-template-rows: 1fr auto 1fr;
    align-items: center;
}

.container {
    max-width: 800px;
    margin-top: 0 auto;
}

.contact-form h1 {
    text-align: center;
    font-size: 2.5rem;
    font-weight: 400;
    color: #fff;
    font-family: 'poppins';
}

.contact-form h2 {
    line-height: 40px;
    margin-bottom: 5px;
    font-size: 30px;
    font-weight: 500;
    color: #000;
    text-align: center;
}

.contact-form .main {
    position: relative;
    display: flex;
    margin: 30px 0;
}

.content {
    flex-basis: 50%;
    padding: 1em 1em;
    background: #fff;
    box-shadow: 2px 9px 49px -17px rgba(156, 39, 148, 0.1);
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
}

.form-img {
    flex-basis: 50%;
    background: #f0f4f8;
    background-size: cover;
    padding: 20px;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    align-items: center;
    display: grid;
}

.form-img img {
    max-width: 100%;
    border-radius: 50%;
}

.btn,
button,
input {
    border-radius: 35px;
}

.btn:hover,
button:hover {
    color: rgb(255, 166, 0);
    transition: 0.5s ease;
}

.contact-form form {
    margin: 30px 0;
}

.contact-form input,
textarea {
    outline: none;
    margin-bottom: 15px;
    font-stretch: 16px;
    color: #999;
    padding: 14px 20px;
    width: 100%;
    display: inline-block;
    box-sizing: border-box;
    border: 1px solid #a9a6a6;
    background: #fcfcfc;
    transition: 0.3s ease;
}

.contact-form input:focus {
    background: transparent;
    border: 1px solid #000;
}

.contact-form button {
    font-size: 18px;
    color: #fff;
    width: 100%;
    background: #000;
    font-weight: 600;
    transition: 0.3s ease;
    padding: 14px 15px;
    border: 1px solid #000;
}

@media (max-width: 736px) {
    .contact-form .main {
        flex-direction: column;
    }

    .contact-form form {
        margin-top: 30px;
        margin-bottom: 10px;
    }

    .form-img {
        border-radius: 0;
        border-bottom-left-radius: 8px;
        border-bottom-right-radius: 8px;
        order: 2;
    }

    .content {
        order: 1;
        border-top-left-radius: 8px;
        border-top-right-radius: 8px;
    }
}

/* Footer */
.footer-section {
    width: 100%;
    display: flex;
    color: white;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 1rem 0;
    background-color: rgb(32, 30, 30);
}

.footer-section h2 {
    margin-bottom: 2rem;
    position: relative;
}

.footer-section h2::after {
    content: '';
    width: 5rem;
    height: .1rem;
    background: #e65b00;
    position: absolute;
    /* margin: -8px; */
    top: 2.5rem;
    left: 0;
}

.footer-section p {
    transition: all .2s linear;
    margin-bottom: .6em;
}

a {
    color: white;
    text-decoration: none;
    cursor: pointer;
}

.footer-section p:hover {
    transition: all .2s linear;
    transform: translateX(4px);
}

.footer-section a:hover {
    color: #f46d13;
}

.footer-item {
    margin: 1rem;
}

.footer-item ul {
    display: flex;
    justify-content: space-around;
    list-style: none;
}

.footer-item li {
    margin-right: 1rem;
}

.social ul li {
    font-size: 1.2rem;
    cursor: pointer;
    transition: all .2s linear;
}

.social ul li:hover {
    color: #e65b00;
    transform: scale(1.1);
    transition: all .2s linear;
}

@media screen and (max-width: 320px) {
    .footer-section {
        flex-direction: column;
        justify-content: flex-start;
        padding-left: 2rem;
    }
}